.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.input___page ,button {
  margin: 10px 0px 0px 10px;
  padding: 5px 10px 5px 10px;
  background-color:red;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
}
.menu {
  background-color: #61dafb;
   position: fixed;
  right: -100%;
  text-align: left;
  padding: 0;
  width: 30%;
  transition: 0.5s;
  height: 100vh;

}
ul {
  padding-left: 10px;
  margin-top: 30px;
}
ul li {
  list-style: none;
  padding-top: 10px;
  font-size: 25px;
  font-weight: 400;
  cursor: pointer;
}
li:hover{
  color: red;
  transition: 0.5s ;
}
 li:hover::after{
  content: '';
  width: 30%;
  height: 2px;
  background: #c05024;
  position: absolute;
  left: 10px;
  transition: 0.5s ease-in;
  margin-top: 32px;


}
.activeMenu {
  right: 0%;
}
.micon
 {
  position: absolute;
  right: 20px;
  z-index: 10000;
}
